default:
  dns_server: 172.29.74.154
  domain_name: ctocllab.cisco.com
  ntp_server: 172.29.74.155
  admin: localadmin
  password: ubuntu
  apt_location: ftp://ftpeng.cisco.com/openstack/cisco
  network: 172.27.74.0
  netmask: 255.255.254.0
  gateway: 172.27.74.1
  sql_mask: 172.27.74.%
  float_range: 172.27.74.0/27
  power_admin: admin
  power_password: C1sc01234
  power_type: ipmitool
build_node:
  name: build-p5
  type: build
  ip: 172.27.74.194
  power_address: 172.27.74.170
  mac: A4:4C:11:13:22:E2
control:
  name: control
  type: control
  ip: 172.27.74.195
  power_address: 172.28.74.171
  mac: A4:4C:11:13:5E:5C
compute_nodes:
  compute1:
    name: compute1
    type: compute
    ip: 172.27.74.196
    power_address: 171.27.74.172
    mac: A4:4C:11:13:98:21
  compute2:
    name: compute2
    type: compute
    ip: 172.27.74.197
    power_address: 171.27.74.173
    mac: A4:4C:11:13:64:4A
