default:
  dns_server: 192.168.0.254
  domain_name: cisco.lab
  ntp_server: 192.168.0.254
  admin: localadmin
  password: ubuntu
  apt_location: ftp://ftpeng.cisco.com/openstack/cisco
  network: 192.168.0.0
  netmask: 255.255.255.0
  gateway: 192.168.0.1
  sql_mask: 192.168.0.%
  power_admin: admin
  power_password: password
  power_type: ipmitool
  install_drive: /dev/sdc
build_node:
  name: build-server
  type: build
  ip: 192.168.0.254
  power_address: 192.168.1.254:test-org
  power_id: OpenStackProfile1
  mac: 00:11:22:33:44:55:01
control:
  name: control
  type: control
  ip: 192.168.0.10
  power_address: 192.168.1.10
  mac: 00:11:22:33:44:55:02
  mac1: 00:11:22:33:44:55:12
compute_nodes:
  compute1:
    name: compute1
    type: compute
    ip: 192.168.0.21
    power_address: 192.168.1.21
    mac: 00:11:22:33:44:55:03
    mac1: 00:11:22:33:44:55:13
  compute2:
    name: compute2
    type: compute
    ip: 192.168.0.22
    power_address: 192.168.1.22
    mac: 00:11:22:33:44:55:04
    mac1: 00:11:22:33:44:55:14
